<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.mapper.VideoMapper">
     <insert id="addVideo" parameterType="Video">
		 insert into video (`videoTitle`,`videoManual`,`videocontent`,`videoUrl`,`videoImgUrl`,`videoAddTime`,`videoStatus`,`VideoType`)
values (#{videoTitle},#{videoManual},#{videocontent},#{videoUrl},#{videoImgUrl},#{videoAddTime},#{videoStatus},#{VideoType});
    </insert>
    
    <select id="getTheVideo" resultType="Video" parameterType="String">
		 select * from video where id=#{id}
    </select>
    
    <select id="getListViode" resultType="Video">
		 select * from video limit ${pageIndex},${PageRows};
    </select>
    
    <delete id="delVideo" parameterType="int">
   		delete from video where id=#{id}
    </delete>
    
    <update id="upVideo" parameterType="Video">
    	UPDATE `futrreteacher`.`video`
		SET `videoTitle` = #{videoTitle},
		  `videoManual` = #{videoManual},
		  `videocontent` = #{videocontent},
		  `videoUrl` = #{videoUrl},
		  `videoImgUrl` = #{videoImgUrl},
		  `videoAddTime` = #{videoAddTime},
		  `videoStatus` = #{videoStatus},
		  `VideoType` = #{VideoType}
		WHERE `id` = #{id};
    </update>
    
</mapper>